body{
    
    margin: 0;
    padding: 0;
 font-family: 'Raleway', sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding:0 20px;
    
}
.hero{
    background: url('/images/louise-hill-CdBPMI26KDo-unsplash.jpg');
    background-attachment: fixed;
}
.header{
   
    
    justify-content: flex-start;
    .logo{
        
        flex:20%;
        h1{
            font-weight: 300;
            a{
                color: rgb(255, 222, 74);
                text-decoration: none;
                span{
                    font-weight: 600;
                }
            }
        }
    }
    .menu{
      flex: 80%;
      ul{
          list-style: none;
          margin: 0;
          padding: 0;
          li{
              float: left;
              a{
                  transition: 0.5s;
                  display: block;
                  padding: 30px;
                  color: #fff;
                  text-decoration: none;
                  &:hover{
                      background:rgb(255, 222, 74);
                      color: rgb(22, 18, 39);
                      font-weight: 600;
                  }
              }
          }
      }
    }
}
.feature{
    padding:5% 0;
    &-text{
        flex: 1;
        color: #fff;
         font-family: 'Raleway', sans-serif;
         h2{
             font-family: 'Roboto Slab', serif;
             font-size: 3em;
         }
         p{
             line-height: 30px;
             font-size: 1.3em;
             font-weight: 300;
         }
         a{
             color: #fff;
             background: rgb(255, 188, 3);
             padding:15px 30px;
             display: inline-block;
             border-radius: 5px;
             text-decoration: none;
             letter-spacing: 3px;
             font-weight: 600;
             transition: 0.5s;
             &:hover{
                 background: rgb(38, 42, 54);
             }
         }
    }
    &-image{
        flex:1;
        padding:10px;
        img{
            width: 100%;
            border-radius: 30px;
        }
    }
}

.story{
    padding:5% 0;
    &-image{
        flex: 1;
        img{
            width: 100%;
            border-radius: 30px;
        }
    }
    &-text{
        flex: 1;
        padding:30px;
         h2{
             font-family: 'Roboto Slab', serif;
             font-size: 3em;
         }
         p{
             line-height: 30px;
             font-size: 1.3em;
             font-weight: 300;
         }
    }
}

.service{
    padding: 5% 0;
    .item{
        flex: 20%;
        text-align: center;
        padding:10px;
        img{
            width: 64px;
        }
    }
}
.footer{
   
    background: rgb(19, 15, 37);
    padding:20px 0;
    color: #fff;
    p{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
}